footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-green);
    color: var(--beige);
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;

    .logo {
        justify-self: center;
    }
}

#back-to-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
    padding-bottom: 4.8rem;
    cursor: pointer;
}

.details-footer {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    gap: 1.6rem;
}

.footer-drop-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32.6rem;
    height: 5.6rem;
    padding: 1.6rem;
    border-radius: 0.4rem;
    background-color: var(--green);
}

.footer-drop-down h3 {
    font-weight: bold;
    font-size: 1.6rem;
}

.footer-drop-down ul,
.footer-drop-down p {
    display: none;
}

.copyright {
    font-size: 1.6rem;
    font-weight: 100;
}


@media only screen and (min-width: 1024px) {
    footer {
        
        .inner-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            .logo {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                 img {
                    height: 4.4rem;
                    width: 25.2rem;
                 } 
            }
            .details-footer {
                width: 50%;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap: 4.8rem;
                margin: 0;
        
                .footer-drop-down {
                    padding: 0;
                    margin: 0;
                    display: block;
                    height: auto;
                    background: transparent;

                    h3 {
                        padding-top: 0;
                        margin-bottom: 3.2rem;
                        font-weight: normal;
                        font-size: 2.4rem;
                    }
                    img {
                        display: none;
                    }

                    ul, p {
                        display: block;
                        list-style: none;
                    }

                    p, li {
                        padding: 0 0 1.6rem;
                    }

                    a {
                        color: inherit;
                    }
                }
            }
        }

        .copyright {
            padding-top: 6.4rem;
        }
    }
    
    #back-to-top {
        padding-bottom: 6.4rem;
    }
}