footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
}

.details-footer {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    gap: 1.6rem;
}