header {
    color: var(--beige);
    
    .top-banner, nav {
        position: fixed;
        top: 0;
        z-index: 500;
        width: 100%;
    }

    nav {
        margin-top: 3.2rem; /* height of nav */
    }

    .search-field {
        margin-top: calc(3.2rem + 5.6rem); /* height of nav + menu */
    }
}

header .top-banner {
    background: var(--green);
}

.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2rem;
}

.top-banner-paragraph {
    display: none;
    color: var(--beige);
    font-size: 1.6rem;
}

.menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}

#hamburger-menu {
    background: url("../img/hamburger-menu.svg") no-repeat center;
}

.menu-desktop, .nav-logo-desktop {
    display: none;
}

.menu-desktop-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.menu-icon {
    width: 2.4rem;
    height: 2.4rem;
}

#globe-icon {
    background: url("../img/globe.svg") no-repeat center;
}

#search-icon {
    background: url("../img/search.svg") no-repeat center;
}

.menu-desktop-items:nth-child(2) { /* Hides the search icon on mobile without taking up extra space */
    display: none;
}

#user-icon {
    background: url("../img/user.svg") no-repeat center;
}

#shopping-cart-icon {
    background: url("../img/shopping-cart.svg") no-repeat center;
}

.desktop-icon-paragraph {
    display: none;
}

.menu-paragraph {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.6rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 3.2rem;
    background: var(--dark-green);
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10.4rem;
    height: 2.4rem;
}

.search-field {
    background-color: var(--white);
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

input::placeholder {
    color: black;
    font-family: "IBM Plex Sans", sans-serif;
}

.search {
    background-color: var(--white);
    border: none;
    width: 100%;
}

.search-btn {
    background: url("../img/search.svg") no-repeat center;
    border: none;
    height: 2.4rem;
    width: 2.4rem;
}

.hero, #sustainability {
    color: var(--beige);
    padding-top: 5rem;
    padding: 9.6rem 0 12.8rem;
}
#sustainability {
    padding: 9.6rem 0;
}

.hero-paragraph, #sustainability p {
    margin: 1.6rem 0 6.4rem 0;
    max-width: 50rem;
}

.cta-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .8rem 3.2rem;
    background-color: var(--white);
    background: var(--orange);
    border-radius: 0.4rem;

    &:hover {
        background: var(--dark-orange);
    }
}

#scroll {
    display: none;
}

@media only screen and (min-width: 1024px) {
    header {
        .menu-mobile, .search-field, .search, .search-btn, .top-banner-logo {
            display: none;
        }

        .top-banner {
            height: 5.2rem;
            background-color: var(--dark-green);
        }

        .top-banner-paragraph {
            display: block;
        }

        nav {
            margin-top: 5.2rem;
            padding-left: 12rem;
            padding-right: 12rem;
            background-color: var(--green);
        }
    }

    .menu-desktop {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.6rem;
        width: 33%;
    }

    .menu-desktop-paragraph {
        font-size: 1.6rem;
    }

    .nav-logo-desktop {
        display: inline;
    }

    .icon-container {
        justify-content: flex-end;
        gap: 3.2rem;
        width: 33%;
        height: 6rem;
    }

    .menu-icon {
        width: 3.2rem;
        height: 3.2rem;
    }

    /* Change to bigger icons */
    #globe-icon {
        background: url("../img/globe-desktop.svg") no-repeat center;
    }
    
    #search-icon {
        background: url("../img/search-desktop.svg") no-repeat center;
    }

    .menu-desktop-items:nth-child(2) {
        display: flex;
    }
    
    #user-icon {
        background: url("../img/user-desktop.svg") no-repeat center;
    }
    
    #shopping-cart-icon {
        background: url("../img/shopping-cart-desktop.svg") no-repeat center;
    }

    .desktop-icon-paragraph {
        display: block;
        font-size: 1.4rem;
    }

    #hero {
        margin-top: calc(5.2rem + 9.2rem);
        padding-top: 19.2rem;
        padding-bottom: 6.4rem;
        position: relative;
    }

    #scroll {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.6rem;
        padding-top: 12.8rem;

        img {
            width: 2.4rem;
        }
    }
}