#hero,
#sustainability, 
#newsletter-signup {
    position: relative;
    background: transparent 0px -156.981px / 100% 148.302% no-repeat;

    img.section-bg {
        position: absolute;
        left: 0; top: 0;
        right: 0; bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: brightness(.5) contrast(1.2);
    }
}
#sustainability img.section-bg {
    filter: brightness(.7);
}

#newsletter-signup {
    color: var(--white);
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;

    input {
        color: var(--beige);
    }
    input::placeholder {
        color: #A89C8B;
    }
}

.newsletter-signup-h3 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 1.8rem;
}

.newsletter-signup-paragraph {
    font-size: 1.6rem;
    margin-bottom: 4.8rem;
}
span.text-orange {
    color: var(--orange);
}

.newsletter-signup-label {
    display: block;
    font-size: 1.6rem;
}

.newsletter-signup-email-input-box {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 32.6rem;
    height: 4rem;
    padding-left: 1.6rem;
    border-radius: 0.4rem;
    background: var(--dark-green);
}

.newsletter-signup-input {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.6rem;
    border: 0;
    background: inherit;
    width: 100%;
}

.email-signup-btn {
    background: var(--orange) url("../img/arrow-up-right.svg") no-repeat center;
    border: none;
    height: 4rem;
    width: 4rem;
    border-radius: 0.4rem;
    flex-shrink: 0;
}