section#categories,
section#best-sellers,
section#materials,
section#new-articles {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
}


hgroup {
    display: flex;
    justify-content: space-between;
}

.arrows {
    position: relative;
    display: flex;
    align-items: center;
}
    .prev-btn,
    .next-btn {
        position: absolute;
        width: 3.2rem;
        z-index: 100;
    }
    .prev-btn {
        left: 0;
    }
    .next-btn {
        right: 0;
    }


.container {
    overflow-y: auto;
    display: flex;
    gap: 1.6rem;
    scroll-snap-type: x mandatory;
    padding: 3.2rem 0;
    margin-bottom: 3.2rem;

    article.product {
        height: 35.5rem;
        width: 19.1rem;
        background: var(--white);
        flex-shrink: 0;
        scroll-snap-align: start;
        box-shadow: .3rem .3rem .4rem rgba(47, 61, 48, .10);
        position: relative;

        &:last-child {
            margin-right: -.4rem;
        }

        img { /* image placeholder */
            display: block;
            width: 100%;
            height: 19.1rem;
            object-fit: cover;
            background-color: var(--gray2);

        }

        .product-inner-wrapper {
            padding: 1.6rem;
        }

        .product-colors {
            display: flex;
            margin: 1.6rem 0;

            .color {
                border-radius: 50%;
                width: 2.4rem;
                height: 2.4rem;
                margin-right: .8rem;

                &.yellow {
                    background: var(--beige);
                    border: 1px solid var(--brown);
                }
                &.brown {
                    background: var(--brown);
                    border: 1px solid var(--brown);
                }
                &.green {
                    background: var(--green);
                    border: 1px solid var(--green);
                }
                &.black {
                    background: var(--black);
                    border: 1px solid var(--black);
                }
            }
        }

        .product-add-btn {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            font-size: 1.8rem;

            img {
                background: var(--green);
                padding: 0.8rem;
                border-radius: 0.25rem;
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        .product-name,
        .product-price {
            font-weight: 600;
        }
        .product-price {
            padding-top: .08rem;
        }

    }

}

.container::-webkit-scrollbar {
    background-color: var(--dark-beige);
    height: 0.4rem;
    border-radius: 0.4rem;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
    border-radius: 0.4rem;
}

section#materials {
    position: relative;

    .text {
        height: 450px;
        overflow: hidden;
    }

    img#materials-image {
        width: 100%;
        aspect-ratio: 1;
        padding-bottom: 6.4rem;
    }

    h2 {
        padding-bottom: 4.8rem;
    }

    h3 {
        margin-bottom: 1.6rem;
        padding-top: 4.8rem;
        border-top: 2px solid var(--black);
        margin-top: 0;
    }

    p {
        padding-bottom: 4.8rem;
    }

    p:last-of-type {
        padding-bottom: 4.8rem;
        border-bottom: 2px solid var(--black);
        margin-bottom: 4.8rem;
    }

    #read-more-btn {
        display: inline-flex;
        gap: 1.6rem;
        padding: .8rem 3.2rem;
        border: 2px solid var(--green);
        border-radius: .4rem;
        position: relative;
        bottom: 0;

        img.icon {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    .read-more {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: linear-gradient(180deg, transparent 0%, var(--white) 90%);
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        z-index: 9;
        height: 350px;
    }
}



@media only screen and (min-width: 1024px) {

    section#categories,
    section#best-sellers,
    section#materials,
    section#new-articles {
        padding-top: 12.8rem;
        padding-bottom: 12.8rem;
    }
    section#best-sellers {
        padding-bottom: 6.4rem;
    }

    .container {
        gap: 2.4rem;

        article.product {
            height: 62.9rem;
            width: 38.4rem;

            img {
                height: 38.4rem;
            }

            .product-inner-wrapper {
                padding: 3.2rem 1.6rem;
            }

            .product-colors {
                display: flex;
                margin: 2.4rem 0;

                .color {
                    border-radius: 50%;
                    width: 2.4rem;
                    height: 2.4rem;
                    margin-right: .8rem;
                }
            }

        }

    }

    
    section#materials {

        article {
            display: flex;
            gap: 8rem;
        }

        img#materials-image {
            max-width: 45%;
            align-self: flex-start;
            aspect-ratio: 1;
            padding-top: 3.7rem;
            order: 2;
            position: sticky;
            top: 20rem;
        }
        .text {
            height: auto;
            overflow: visible;
            order: 1;
        }
        .read-more {
            display: none;
        }
    }
}


@media only screen and (min-width: 1310px) {
    section#categories .arrows {
        .prev-btn,
        .next-btn {
            display: none;
        }
    }
}