section#categories {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
section#best-sellers {
    padding-top: 6rem;
    padding-bottom: 2rem;
}
section#materials {
    padding-top: 6.4rem;
    padding-bottom: 3.2rem;
}
section#new-articles {
    padding-top: 2rem;
    padding-bottom: 6rem;

    hgroup {
        padding-top: 6.4rem;
    }
}


hgroup {
    display: flex;
    justify-content: space-between;

    .arrows {
        .prev-btn,
        .next-btn {
            width: 3.2rem;
        }
    }
}

.container {
    overflow-y: auto;
    display: flex;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    padding: 3.2rem 0;
    margin-bottom: 3.2rem;

    article.product {
        height: 31.9rem;
        width: 19.1rem;
        background: white;
        flex-shrink: 0;
        scroll-snap-align: start;
        box-shadow: .3rem .3rem .4rem rgba(47, 61, 48, .10);

        &:last-child {
            margin-right: -.4rem;
        }

        img { /* image placeholder */
            display: block;
            background: #ccc;
            width: 100%;
            height: 19.1rem;
            object-fit: cover;
        }

        .product-inner-wrapper {
            padding: 1rem;
        }

        .product-colors {
            display: flex;
            margin: 1rem 0;

            .color {
                border-radius: 50%;
                width: 1.5rem;
                height: 1.5rem;
                margin-right: .6rem;

                &:nth-of-type(1) {
                    background: var(--beige);
                    border: 1px solid var(--brown);
                }
                &:nth-of-type(2) {
                    background: var(--brown);
                    border: 1px solid var(--brown);
                }
                &:nth-of-type(3) {
                    background: var(--green);
                    border: 1px solid var(--green);
                }
            }
        }

        .product-add-btn {
            display: flex;
            gap: 0.5rem;
            font-size: 1.5rem;

            img {
                background: var(--green);
                padding: 0.5rem;
                border-radius: 0.25rem;
                width: 2rem;
                height: 2rem;
            }
        }

        .product-name,
        .product-price {
            font-weight: 600;
        }
        .product-price {
            padding: .05rem 0;
        }

    }

}

section#materials {
    position: relative;

    .text {
        height: 450px;
        overflow: hidden;
    }

    img#materials-image {
        width: 100%;
        aspect-ratio: 1;
        padding-bottom: 6.4rem;
    }

    h2 {
        padding-bottom: 4.8rem;
    }

    h3 {
        margin-bottom: 1.6rem;
        padding-top: 4.8rem;
        border-top: 2px solid var(--black);
        margin-top: 0;
    }

    p {
        padding-bottom: 4.8rem;
    }

    p:last-of-type {
        padding-bottom: 4.8rem;
        border-bottom: 2px solid var(--black);
        margin-bottom: 4.8rem;
    }

    #read-more-btn {
        display: inline-flex;
        gap: 1.6rem;
        padding: .8rem 3.2rem;
        border: 2px solid var(--green);
        border-radius: .4rem;
        position: relative;
        bottom: 0;

        img.icon {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    .read-more {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: linear-gradient(180deg, transparent 0%, #fff 90%);
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        z-index: 9;
        height: 350px;
    }
}

@media only screen and (min-width: 834px) {
    section#materials {

        article {
            display: flex;
            gap: 8rem;
        }

        img#materials-image {
            width: 50%;
            align-self: flex-start;
            aspect-ratio: 1;
            padding-bottom: 6.4rem;
            order: 2;
        }
        .text {
            width: 50%;
            height: auto;
            overflow: visible;
            order: 1;
        }
        .read-more {
            display: none;
        }
    }
}