#hamburger-menu {
    background: url("../img/hamburger-menu.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
#globe {
    background: url("../img/globe.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
#user-icon {
    background: url("../img/user.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
#shopping-cart-icon {
    background: url("../img/shopping-cart.svg") no-repeat center;
    width: 24px;
    height: 24px;
}

#tent-card {
    background: url("../img/tent-card.svg");
    width: 112px;
    height: 123px;
}

.item-cards {
    display: flex;
    justify-content: space-between;
    width: 326px;
    height: 123px;
    gap: 16px;
}



#icons {
    padding: 9.6rem 0;
    text-align: center;
    background: var(--green);
    color: var(--beige);

    .item {
        padding-bottom: 6.4rem;
        border-bottom: .15rem solid var(--dark-green);

        &:last-of-type {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    img {
        background: var(--dark-green);
        width: 2.4rem;
        height: 2.4rem;
        padding: 3.2rem;
        display: block;
        margin: 0 auto 1.6rem;
        border-radius: 50%;
    }
    p {
        max-width: 19rem;
        margin: 0 auto;
    }
}
.flex {
    display: flex;
    gap: 6.4rem;
    flex-direction: column;
        margin: 0 auto;
}

@media only screen and (min-width: 390px) {
    .flex {
        flex-direction: row;
    }
    .item {
        padding-right: 6.4rem;
        border-bottom: none;
        border-right: .15rem solid var(--dark-green);

        &:last-of-type {
            padding-right: 0;
            border-right: none;
        }
    }
}