#hamburger-menu {
    background: url("../img/hamburger-menu.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
#search-icon {
    background: url("../img/search.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
#user-icon {
    background: url("../img/user.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
#shopping-cart-icon {
    background: url("../img/shopping-cart.svg") no-repeat center;
    width: 24px;
    height: 24px;
}

#tent-card {
    background: url("../img/tent-card.svg");
    width: 112px;
    height: 123px;
}

.item-cards {
    display: flex;
    justify-content: space-between;
    width: 326px;
    height: 123px;
    gap: 16px;
}