#hamburger-menu {
    background: url("../img/hamburger-menu.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
#globe {
    background: url("../img/globe.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
#user-icon {
    background: url("../img/user.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
#shopping-cart-icon {
    background: url("../img/shopping-cart.svg") no-repeat center;
    width: 24px;
    height: 24px;
}

#tent-card {
    background: url("../img/tent-card.svg");
    width: 112px;
    height: 123px;
}

.item-cards {
    display: flex;
    justify-content: space-between;
    width: 326px;
    height: 123px;
    gap: 16px;
}



#icons {
    padding: 6rem 0;
    text-align: center;

    .item {
        max-width: 12rem;
        margin: 0 auto;
    }
    img {
            background: grey;
            width: 4rem;
            height: 4rem;
            display: block;
            margin: 0 auto 1rem;
    }
}
.flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}